/*用户登录*/
.backs{  background:#eaf3fc;}
#main_l ul li{ line-height:34px;margin-bottom:5px;}
.applgntype a{ padding-left:15px;}
#qqLoginBtn{ background:url(/images/QQ.gif) no-repeat;}
#qqLoginBtn a{ padding-left:0; }
#qqLoginBtn a img { width:32px;}
.main_ldiv h1{ line-height:40px;font-size:1.4em;font-family:"Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;}
.main_ldiv  h1 span{font-size:1.5em; color:#00CCFF; margin-left:5px;}
.main_ldiv li{ list-style:none}
#main_r h2{ font-size:1.3em; line-height:40px; font-family:"Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;}
#main_r ul li{ line-height:24px;}
.applgntype a{ display:block; height:32px;width:32px; float:left;}
.applgntype{ margin-top:10px;}
.top li a{ color:#fff;}
.top li a:hover{ color:#004b9b;background:#fff;}
.top_menu .navbar-toggle{ background:#ddd;}
.top_menu .navbar-toggle .icon-bar{ background:#fff;}


/*用户注册*/

.top {height:75px;width:100%;}
.logo {width:400px;margin:auto;margin-top:10px;}
.regDiv { width:50%;min-width:320px;}/*border:1px solid #d9d9d9;*/
.desc {text-align:right;width:100px;display:inline-block; }
.remindDiv {height:15px;}
.reg_title{font-size:1.3em; font-weight:500; border-bottom:1px solid #d9d9d9; clear:both; color: #007BBB; height:28px; line-height:28px; padding-left:20px;text-align:center;}
.tdbgleft {text-align:center;}
.bottom {bottom:0px;text-align:center;width:100%;}
/*Need To Remove*/
#apDiv1{position: absolute;	width: 106px;height: 16px;z-index: 1;top: 991px;left: 166px;}
.emptyDiv{height:auto;}
#userinfo { margin-top:20px; margin-bottom:200px; width:50%;min-width:320px;margin:auto;}
#userinfo li span {color:#f00;}

.backs .navbar-nav li a {color:white;}
.backs .navbar-nav li a:hover{ color:#004b9b;}
.backs .navbar-nav li{ padding:0;margin:0;}
#reg_main li { list-style:none;}
.border_right { border-right:1px solid #ccc; min-height:400px}

.padding0 {padding:0}
.reg_sub  h1,.reg_sub  h4{ text-align:left; font-size:2em; padding-left:0.5em}
.reg_sub  h4{ margin-top:30px;}
.reg_sub  h4 span,.reg_sub  h1 span{ font-size:1.2em;margin-right:10px; color:#00CCFF;}
.reg_sub  ul{ padding:0;}
.reg_sub  .form-group .col-xs-12{ text-align:left; padding-left:15px;}
.backs  .navbar-toggle .icon-bar{ background:#fff;}
.margintop50{ margin-top:50px;}

#userinfo li{ list-style:none; line-height:30px;}

.main_ldiv .form-group .col-xs-12{ text-align:left; padding-left:15px;}

@media (min-width:768px) 
{
.applgntype a{ margin-right:10px;}
#main_l{ border-right:1px solid #ddd;}
#main{ margin-top:180px;}
.main_ldiv{ width:50%;}
}
@media (max-width:768px)
{
#main_l{ border-right:none;}
#main{ margin-top:40px;}
.main_ldiv{ width:100%;}
.reg_sub  h1,.reg_sub  h4{ text-align:left; font-size:1.4em; padding-left:0.2em}

.reg_sub  h4{ margin-top:30px;}
.reg_sub  h4 span,.reg_sub  h1 span{ font-size:1.2em;margin-right:10px; color:#00CCFF;}

}



/*用户中心*/
body{ font-family:'Microsoft YaHei'}
.user_m_top{ background:#0099CC;width:100%; position:fixed;_position:absolute;bottom:auto;_top:expression(eval(document.documentElement.scrollTop)); top:0px;/*left:0px;*/height:4em;z-index:1001;}
.padding0{ padding:0;}
.topmenu_a:hover{ background:#094ab2;}
.usertop_menu { border-radius:0;margin-top:-1px; background:#1d1d1d;text-align:center; padding:20px 0; z-index:9999;}
.usertop_menu a { height:90px;display:block;background:#ccc;text-decoration:none;color:#fff;}
.usertop_menu a :hover{ color:#DDD;}
.usertop_menu a span{ display:block;margin:auto; padding-top:20px; padding-bottom:10px;font-size:2em;}

.user_m_top .dropdown > a{ color:#fff;}
.user_m_top .dropdown > a:hover{ text-decoration:none;}
.user_main{ margin-top:4em;}
#xs_menu >li>a{ color:#fff;}
#xs_menu >li>ul>li>a{ color:#fff;}
#xs_menu li a:hover{color:#00aeef;}
#xs_menu >li.open>a{ color:#00aeef;}
#user_left .user_leftd{ height:100%;overflow-y:auto;}
#user_left{ border-right:1px solid #ddd;left:0;top:4em; bottom:0em; position:fixed !important;padding-top:1px;}
#user_left ul li a { display:block; width:100%;line-height:2.2em;padding-left:15px;}
#user_left ul li a:hover{ text-decoration:none;}
.user_l_ul >ul >li >a{ border-bottom:1px solid #ddd;}
.user_l_ul >ul >li >a:hover{ background:#428BCA; color:#fff;}
.user_l_ul >ul >li >a >span{ line-height:2.2em; margin-right:5px;}
.user_l_ul >ul >li > ul> li> a> span{ margin-right:5px;}
.user_l_ul >ul >li > ul> li> a:hover{ color:#fff; background:#61b0e9;}
.user_l_ul >ul >li > ul> .active> a{ color:#fff; background:#61b0e9;}
.user_l_ul >ul >li > ul{ border-bottom:1px solid #ddd;}
.user_l_ul >ul >.active >a { background:#428BCA; color:#fff;}
.user_m_right{ margin-top:5px;}
.user_base a{ display:block; height:180px; line-height:180px; text-align:center; color:#fff;font-size:16px; margin-bottom:10px;}
.user_base a:hover{ text-decoration:none;}
.display_none{display:none;}
@media (min-width:970px) and (max-width:1010px)
{
.usertop_menu ul li a{padding:0 12px;}
}
@media (max-width:970px)
{
.usertop_menu ul li a{padding:0 5px;}
}
@media (min-width:1170px)
{
.user_base a{ height:150px;line-height:150px;}
}
@media (min-width:1170px) and (max-width:1600px)
{
#user_left{width:12%;}
#user_right{ width:88%;}
}
@media (min-width:1600px)
{
#user_left{width:10%;}
#user_right{ width:90%;}
}
@media (max-width:768px)
{
.usertop_menu{ display:none !Important;}
}














/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuWm9vbWxhLmNu */
